.title{
  color: #FF383F;
  text-align: center;
  margin-top: 5px;
}

.text-body{
  margin-top: 5px;
  font-size: 20px;
}

.projects-grid{
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 33% 33% 33%

}
